.nav{
  color: grey;
  margin: 7px 0 0 10px;
}

li {
  list-style: none;
  display: inline;
  padding-right: 25px;
}

#RS {
  float: right;
  padding-left: 10px;
}

.logo {
  padding-top: 109px;
  width: 272;
  text-align: center;
}
